<div data-controller="visualization" data-graph-id="<%= @graph.id %>">
    <p>Node count: <span data-visualization-target="nodeCount"></span></p>
    <p>Link count: <span data-visualization-target="linkCount"></span></p>
    </div>
</div>
